@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-gray-500
}

html {
    scroll-behavior: smooth;
}

.percent-container-mobile {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0)
}

@media (min-width: 768px) {
    .percent-container-mobile {
        -webkit-backface-visibility: visible;
        -moz-backface-visibility: visible;
        -webkit-transform: inherit;
        -moz-transform: inherit
    }
}


.x-padding {
    max-width: 1800px;
    @apply px-4
}

@media (min-width: 1024px) {
    .x-padding {
        @apply px-28;
    }
}

@media (min-width: 1280px) {
    .x-padding {
        @apply px-40;
    }
}

@media (min-width: 1536px) {
    .x-padding {
        @apply px-72;
    }
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
}

.center-staged {
    @apply w-full flex justify-center
}
