@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-gray-500
}

@font-face {
    font-family: "OpenSauce";
    src: url("../assets/Fonts/OpenSauce/OpenSauceOne-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "OpenSauce";
    src: url("../assets/Fonts/OpenSauce/OpenSauceOne-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "OpenSauce";
    src: url("../assets/Fonts/OpenSauce/OpenSauceOne-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Archivo";
    src: url("../assets/Fonts/Archivo/Archivo-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Archivo";
    src: url("../assets/Fonts/Archivo/Archivo-Regular.ttf");
    font-weight: 400;
}


.x-padding {
    @apply px-4
}

@media (min-width: 1024px) {
    .x-padding {
        @apply px-28;
    }
}

@media (min-width: 1280px) {
    .x-padding {
        @apply px-40;
    }
}

@media (min-width: 1536px) {
    .x-padding {
        @apply px-72;
    }
}
